body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
#webcam, #canvas, #three-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  transform: scaleX(-1);
}
#recycle-bin {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 160px;
  height: 160px;
  z-index: 20;
  pointer-events: none;
}
#recycle-bin.active {
  filter: drop-shadow(0 0 10px #ff0000);
  transform: scale(1.1);
  transition: transform 0.2s, filter 0.2s;
}
#instructions {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  /* border-radius: 10px; */
  font-family: sans-serif;
  font-size: 14px;
  z-index: 30;
}

#links-para{
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
}

a {
    color: #0000FF !important;
}

#coffee-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}